API_URL=https://your-servicenow-instance.service-now.com/api/now/table/user
SERVICE_NOW_USERNAME=your_servicenow_username
SERVICE_NOW_PASSWORD=your_servicenow_password
AAD_TENANT_ID=your_aad_tenant_id
AAD_CLIENT_ID=your_aad_client_id
AAD_CLIENT_SECRET=your_aad_client_secret
AAD_API_URL=https://graph.microsoft.com/v1.0/users
LOG_LEVEL=info